In [10]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from flask import Flask, jsonify
import datetime as dt

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float, Date

In [11]:
#create an engine
engine = create_engine('sqlite:///hawaii.sqlite', echo=False)

In [3]:
measurement_df= pd.read_csv("/Users/ZGS/Documents/Data_Bootcamp/alchemy_homework/Resources/clean_measurement.csv")
station_df= pd.read_csv("/Users/ZGS/Documents/Data_Bootcamp/alchemy_homework/Resources/clean_station.csv")

In [4]:
measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [6]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [7]:
Base.metadata.create_all(engine)

In [8]:
from sqlalchemy.orm import Session
session = Session(bind=engine)